<div class="col-lg-3"></div>
<div class="col-lg-6 well">

<h1>Editing Recarga</h1>

<%= render 'form', recarga: @recarga %>

<%= link_to 'Show', @recarga %> |
<%= link_to 'Back', recargas_path %>

</div>