<div class="col-lg-6 col-lg-offset-3">
  <div class="well">
    <h4><b>Invitar a:</b></h4>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1">
        <label>Introduzca un correo electrónico para invitar a una persona a esta página</label>
        <%= form_tag(@correo) do %>
          <div class="form-group">
            <%= email_field_tag :correo, nil, class: "mostrar form-control", placeholder: "Correo", required: true %>
          </div>
          <%= button_to 'Enviar', grupos_path , :class => "btn btn-primary", method: :post %></th>
        <% end %>
      </div>
    </div>
  </div>
</div>