<div class="col-lg-3"></div>
<div class="col-lg-11 well">
<div class="margen">
  <center><h2><b>Términos y Condiciones</b></h2></center>
  <br>
  <h4  style="text-align: justify" >

    Este documento describe los términos y condiciones que aplican al uso de los servicios ofrecidos por esta página en adelante <b>“Los servicios”</b> dentro del sitio web <b><%= link_to "#{root_url}", root_url, target: "_blank" %></b>. Cualquier persona natural o jurídica que desee acceder y/o usar cualquiera de los procedimientos informáticos de esta página será en adelante conocido como <b>“El Usuario” </b>, podrá hacerlo sujetándose a estos términos y condiciones, junto con todas las normativas y aspectos legales que rijan la materia en la Republica Bolivariana Venezuela en donde se utilicen <b>“Los servicios”</b> y que <b>“El Usuario”</b> acepta conocer en su totalidad.<br>
    <b>“El Usuario”</b> deberá leer y aceptar todo lo estipulado en estos términos y condiciones, así como en los demás documentos incorporados como referencia, con anterioridad a su inscripción como usuario en esta página para cualquiera de los planes allí ofrecidos; de prueba o por consumo.<br>
    Cualquier persona natural o jurídica que no acepte estos términos y condiciones, los cuales tienen carácter obligatorio y vinculante, deberá abstenerse de utilizar <b>“Los servicios”</b> de esta página.<br><br>

    <b>Quienes pueden contratar “Los servicios”</b><br><br>

    <b>“Los servicios”</b>están disponibles para toda persona natural o jurídica, que tenga capacidad legal para contratarlos es decir, que posea un documento de identificación fiscal (RIF) emitido por el seniat y que esté vigente a la fecha de la contratación de <b>“Los servicios”</b>. No podrán utilizar los servicios las personas naturales o jurídicas que no tengan dicha capacidad o aquellos que hayan sido suspendidos temporalmente o inhabilitados definitivamente por esta página. En caso una persona natural esté suscribiendo <b>“Los servicios”</b> a nombre de una entidad jurídica, deberá contar con la debida autorización para contratar a nombre de tal entidad y de obligar a la misma, al cumplimiento de los términos y condiciones aquí descrito.<br><br>

    <b>Características de “Los servicios”</b><br><br>

    Esta página es un sistema que permite el envío de SMS (short message service), en forma masiva y que no necesita la descarga de ningún programa, sólo tener una conexión a Internet en una computadora personal, tablet o teléfono inteligente.<br>
    Para el envío de SMS, el sistema requiere de una base de datos de contactos la cual podrá ser subida por <b>“El Usuario” </b>desde un archivo en Excel con formato CSV, XLS o XLSX. Esta página no vende, ni facilita la base de datos de contactos para el envío de los SMS que <b>“El Usuario”</b> tenga planificado llevar a cabo. <b>“El Usuario”</b> a su propia cuenta y riesgo utilizará la(s) base(s) de datos de contactos que haya adquirido de terceros o que haya generado en sus archivos como resultado de la actividad comercial que desarrolla.<br>
    La cantidad de SMS a enviar está determinada por el saldo que tenga cada usuario en particular, que podrá ser incrementado en cualquier momento al hacer el pago respectivo, el pago mínimo será siempre de Bs 20.000, en múltiplos de Bs 1.000, con un costo por SMS de <%= number_to_currency(@valor, {:precision => 0, :unit => "Bs ", :delimiter => "."})%>, que serán cargados en el perfil del usuario el siguiente día hábil no bancario a partir de las 2:00PM. Cuando <b>“El Usuario”</b> se inscriba en nuestra página tiene un saldo inicial a favor de Bs 1.000.<br>
    El sistema de envío de SMS depende de una plataforma externa manejada por cada operadora de telefonía celular, esta página no tiene la capacidad de controlar esta plataforma y sus fallas son totalmente ajenas a nuestro servicio, no pudiendo ser imputadas por <b>“El Usuario”</b> a esta página. Basándonos en nuestra experiencia con las operadoras podemos asegurar que la efectividad del servicio de SMS en la Republica Bolivariana de Venezuela es de un 85-90%.<br><br>

    <b>SMS enviados</b><br><br>

    Todo los SMS enviados a través de esta página son responsabilidad de <b>“El Usuario”</b> (usted), quedando registrado en nuestras base de datos el identificador de <b>“El Usuario”</b> que envía cada SMS.<br><br>

    <b>Líneas de teléfono utilizadas</b><br><br>

    El número telefónico del que se envían los SMS de texto es una línea privada no monitoreada por lo que no recibe llamada entrantes.<br><br> 

    <b>Prohibiciones</b><br><br>

    Esta página es un servicio que facilita a <b>“El Usuario”</b> el envío masivo de SMS a sus clientes, proveedores y relacionados con fines comerciales, sociales o informativos, por lo que queda expresamente prohibida la utilización de <b>“Los servicios”</b> para enviar SMS en los casos que se describen a continuación:

    <ul style="list-style-type:circle">
    <li><h5>Comerciales o informativos no solicitados, conocidos como SPAM.</h5></li>
    <li><h5>A personas que han solicitado ser eliminados de una lista de distribución.</h5></li> 
    <li><h5>Que infrinjan las leyes contra SPAM en la Republica Bolivariana de Venezuela.</h5></li>
    <li><h5>Que imiten o suplanten la identidad de otra persona o cuenta de usuario.</h5></li>
    <li><h5>Con contenido ilegal, obsceno, delictivo, difamatorio, segregacionista, de acoso, perjudicial, abusivo o fraudulento.</h5></li>
    <li><h5>Para distribuir intencionalmente virus informáticos o cualquier contenido de naturaleza destructiva o engañosa.</h5></li>
    <li><h5>Que contenga enlaces para descargar archivos de dudosa procedencia, sin la respectiva notificación al usuario final.</h5></li>
    <li><h5>Que contenga información particular o de propiedad intelectual de una o más personas, sin la autorización de éstas.</h5></li>
    <li><h5>Que infrinjan los derechos legales y de privacidad de terceros.</h5></li>
    <li><h5>Que inciten al odio y/o violencia de cualquier tipo hacia cualquier persona, empresa o institución pública o privada.</h5></li>
    <li><h5>Que contengan información prohibida por las normativas vigentes en la Republica Bolivariana de Venezuela.</h5></li>
    <li><h5>Con contenido que pueda resultar dañino para menores de edad.</h5></li>
    <li><h5>Que promuevan o fomenten actividades fuera de la ley.</h5></li>
    <li><h5>Utilizando base de datos de contactos cuyo contenido no cumpla con lo regulado en la o las leyes de protección de los datos personales, vigentes en la Republica Bolivariana de Venezuela.</h5></li></ul>

    <b>Sanciones</b><br><br>
    Sin perjuicio de otras medidas, esta página podrá advertir, suspender en forma temporal o inhabilitar definitivamente la cuenta de <b>“El Usuario”</b> de iniciar las acciones legales que estime pertinentes sí; (a) se quebrantara alguna ley o normativa vigente en la Republica Bolivariana de Venezuela; (b) se incumplieran estos términos y condiciones; (c) se incurriera a criterio de esta página en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad de <b>“El Usuario”</b> o cualquier información proporcionada por éste, fuere errónea; (e) esta página entendiera que el contenido de los SMS ya enviados, pudieran ser causa de responsabilidad para esta página.<br><br>

    <b>Por último</b><br><br>

    <b>“El Usuario”</b> acepta y entiende que <i><u>estos términos y condiciones están sujetos a cambios sin previo aviso</u></i>. Cualquier disposición no contemplada bajo estos Términos y Condiciones se regirá por los estatutos y disposiciones que en esta materia regule la ley de la Republica Bolivariana de Venezuela.<br><br>

  </h4>
</div>
</div>

<div class="col-lg-11">
  <h5><i>
    Parque Nacional Médanos de Coro<br>
    Península de Paraguaná, Estado de Falcón
  </i></h5>
</div>
