<%= image_tag "servicios-sms.jpg", size: "800x600", :alt => "porque usar el servicio de sms", :title => "Porque usar el servicio de sms"%>
<br><br>
<br><br>
<h5><i>
Parque Nacional Médanos de Coro<br>
Península de Paraguaná, Estado de Falcón
</i></h5>