<div class="col-lg-3"></div>
<div class="col-lg-11 well">
<div class="margen">
    <center><h2>Diccionario de Datos</h2></center>
    <br>
    <p><h4> 
    <span class="azul">Mensaje:</span> Grupo de hasta 160 caracteres incluyendo los espacios, no se deben usar caracteres acentuados, ni caracteres latinos en general, ni específicamente la letra ñ, ya que el sistema puede generar errores y se afectan el envío de SMS quedando la capacidad de cada mensaje hasta 70 caracteres.
    </h4></p>
    <p><h4> 
    <span class="azul">SMS:</span> Iniciales de Short Message Service, su traducción sería algo como servicio de mensaje corto. La diferencia entres mensaje y SMS, es que el SMS es el servicio de envío del mensaje y el mensaje, es la creación y/o edición del texto hasta 160 caracteres. Al hace CLIC con el ratón en <b>SMS</b> en la barra de navegación se abrirá una página de enviar SMS directamente a un contacto, si el contacto no está cargado en la página, el sistema lo cargará con un nombre temporal, que debería ser cambiado para una mejor identificación.
    </h4></p>
    <p><h4> 
    <span class="azul">Usuario:</span> Persona con acceso a la aplicación que puede cargar contactos, grupos y mensajes. El usuario se puede ver al lado del botón de cerrar, el usuario puede modificar sus datos haciendo CLIC en su nombre.
    </h4></p>
    <hr>
    <p><h4> 
    <span class="azul">Gestión:</span> pestaña que agrupa los procesos operativos y los temas de interés. En los procesos operativos (Operaciones) se puede hacer mantenimiento (crear, mostrar, editar y borrar) a "contactos", "grupos" y "cargas de archivos".
    </h4></p>
    <p><h4> 
    <span class="azul">Contacto:</span> Persona cargada por un usuario con el objeto de recibir SMS, estos contactos se pueden cargar manualmente o por lotes en archivos en formato excel.
    <p><h4> 
    <span class="azul">Grupo:</span> Es un objeto que se usa para agrupar a los contactos por cualquier contexto u objetivo, ejemplo de grupos pueden ser: parroquia, estado, cargo, familia, lista de distribución, etc.
    </h4></p>
    <p><h4> 
    <span class="azul">Cargar Archivo:</span> 
    cargar archivos en formato excel, especificamente con extensión csv, xls, o xlsx, estos archivos deben tener dos columnas, la primera columna debe contener el número telefónico incluyendo el código de la operadora, los códigos de operadora aceptados son 412, 414, 424,416 y 426; la segunda columna debería contener el nombre (se sugiere nombre y apellido), el nombre puede estar en blanco y se acepta como válido para ser objeto de recibir SMS, se puede cargar cualquier cantidad de contactos.
    </h4></p>
    <p><h4> 
    En los temas de interés se puede consultar el diccionario de datos (este documento), las <u><a href="premisas">premisas</a></u> de la aplicación, los <u><a href="terminos_condiciones">términos y condiciones</a></u> y el horario sugerido para enviar los SMS.
    </h4></p>
    <p><h4> 
    <span class="azul">Alcance:</span> El total de contactos que recibirán o recibieron el SMS.
    </h4></p>
    <hr>
    <p><h4> 
    <span class="azul">Saldo: <b>Bs 1.000</b>:</span> Es el saldo disponible que tiene el usuario. Al hacer CLIC en el saldo se puede visualizar el costo de envío vigente para cada SMS y el cupo disponible para enviar SMS según la relación saldo / costo x SMS. Los saldos son individuales para cada usuario, todos los usuarios comparten los mismos contactos.
    </h4></p>
    <p><h4> 
    <span class="azul">Cerrar:</span> Al hacer CLIC con el ratón se cerrará la sesión de trabajo.
    </h4></p>
    <hr>
    <p><h4> 
    Emoticones
    </h4></p>
    <p><h4> 
    <i class="fa fa-trash"></i><span class="azul">La papelera:</span>&nbsp;Al hacer CLIC puede borrar los mensajes creados por el usuario, solo el creador del mensaje lo puede borrar. Solo se pueden eliminar aquellos mensajes que NO se han sido enviados.
    </h4></p>
    <p><h4> 
    <i class="fa fa-keyboard-o"></i><span class="azul">El teclado:</span>&nbsp;Al hacer CLIC puede editar los mensajes creados por el usuario, solo el creador del mensaje lo puede editar. Solo se pueden editar aquellos mensajes que NO se han sido enviados.
    </h4></p>
    <p><h4> 
    <span class="fa fa-cog fa-spin"></span><span class="azul">&nbsp;La rueda dentada:</span> Al hacer CLIC, se pueden seleccionar los grupos de los contactos para determinar el total de contactos que recibirán el SMS.
    </h4></p>
</div>
</div>
<br>


