<div class="col-lg-3"></div>
<div class="col-lg-11 well">
  <center><h2>Horario sugerido para envío de SMS</h2></center>
  <h4><p>Para un mejor desempeño en la entrega de los SMS por parte de las operadoras telefónicas en Venezuela <u>se recomienda</u> el siguiente horario y procedimiento:
  </p></h4>
    <h3><p>1 SMS a:</p></h3>
  <ul style="list-style-type:circle">
  <li><h5>Hasta 10 contactos; en horas pico</h5></li>
  <li><h5>Entre 11 y 50 contactos; en las mañanas entre 7:00AM y 8:59AM y en las tardes  y a partir de las 5:00PM (sin notificación)</h5></li>
  <li><h5>Entre 51 y 100 contactos; en las mañanas entre 5:00AM y 6:59AM y en las tardes  y a partir de las 5:00PM (sin notificación)</h5></li>
  <li><h5>Entre 101 y 500 contactos; en las mañanas entre 5:00AM y 6:59AM y en las tardes  y a partir de las 7:00PM (sin notificación)</h5></li>
  <li><h5>Entres 501 y 1.500 contactos; en las tardes a partir de las 7:00PM y hasta las 4:59AM del día siguiente (sin notificación)</h5></li>
  <li><h5>Entre 1.501 y 5.000 contactos; a partir de las 9:00PM y hasta las 4:59AM del día siguiente (sin notificación)</h5></li>
  <li><h5>Más de 5.001 y 10.000 contactos; a partir de las 11:00PM y hasta las 2:59AM del día siguiente (sin notificación)</h5></li>
  <li><h5>Más de 10.000 contactos; a partir a partir de las 11:00PM y hasta las 2:59AM del día siguiente (<i><u>se recomienda  notificar al administrador de la página</u></i>)</h5></li>
  </ul>  
  <h5 class="margen">Las horas pico son:</h5>
  <h5 class="margen"><b>MAÑANA</b> entre 9:00AM  y  11:00AM</h5>
  <h5 class="margen"><b>TARDE</b> entre 2:00PM  y  5:00PM</h5>
  <h5><center><p>NOTA: Expresamente se recomienda evitar el envío de SMS a más de 1.500 contactos en horas pico.</center>
  </p></h5>
  <%= button_to 'Ver Gráfica', horario_grafica_path, :class => "btn btn-default", method: :get %>
</div>
<br>
