<div class="col-lg-3"></div>
<div class="col-lg-11 well">
  <center><h2>Premisas</h2></center>
  <h4><p>
    <center><u>Lista de base de razonamiento de esta página</u></center>
  </p></h4>
  <ul style="list-style-type:circle">
  <h5><b>Sobre el modo demo de esta página:</b></h5>
  <li><h5>Se pueden envíar máximo 10 mensajes gratuitos.</h5></li>
  <li><h5>Se pueden tener máximo 3 contactos X grupo.</h5></li>
  <li><h5>Se pueden envíar máximo 2 grupos X mensaje.</h5></li>
  <h6>NOTA: En el modo TODO USO, no hay límites en los contactos por grupo, ni en la cantidad de grupos, el único límite es el saldo que posea el usuario.</h6>
  <hr>
  <h5><b>Sobre la edición de mensajes:</b></h5>
  <li><h5>Cualquier usuario puede crear un mensaje.</h5></li>
  <li><h5>Sólo el usuario que creó el mensaje puede editarlo y/o borrarlo.</h5></li>
  <li><h5>Se pueden editar o borrar mensajes que NO se hayan enviado.</h5></li>
  <li><h5>Una vez borrado el mensaje no se puede recuperar.</h5></li>
  <hr>
  <h5><b>Sobre el envio de mensajes:</b></h5>
  <li><h5>Los usuarios pueden enviar su cuota de mensajes gratuitos.</h5></li>
  <li><h5>Los mensajes sólo se pueden enviar una vez a su lista de contactos (contactos seleccionados por grupos).</h5></li>
  <li><h5>En enviar mensajes, se pueden guardar los mensajes sin tener que enviarlos, esto es para determinar el alcance de contactos que puede tener un mensaje.</h5></li>
  <li><h5>En enviar mensajes, siempre se debería guardar los mensajes justo antes de enviarlos, para tener el alcance de contactos actualizados.</h5></li>
  <li><h5>Si el mensaje se ha enviado, la fecha que se muestra es la fecha que se envío y cuanto tiempo ha pasado.</h5></li>
  <li><h5>Si el mensaje no se ha enviado, la fecha que se muestra es la última fecha que fue editado y cuanto tiempo ha pasado.</h5></li>
  <li><h5>Si el mensaje NO ha sido enviado y lo creó el usuario que está en sesión, se puede ver el teclado (para editarlo) y la papelera (para borrarlo).</h5></li>
  <li><h5>Si el mensaje NO ha sido enviado y NO lo creó el usuario que está en sesión, sólo se puede ver la rueda dentada (para agregar contactos y/o enviarlo).</h5></li>
  <li><h5>Para tener información clara y precisa sobre que tipos de SMS se pueden enviar, puede hacer clic al enlace de  <a href="terminos_condiciones">Términos y Condiciones</a>.</h5></li>
  <li><h5>Para tener información clara sobre el horario sugerido para un mejor desempeno en la entrega de los SMS, puede hacer clic en el enlace de <a href="horario_sugerido">Horario Sugerido</a>.</h5></li>

  <hr>
  <h5><b>Sobre la carga y descarga masiva de contactos:</b></h5>

  <li><h5>Esta página acepta la carga masiva de contactos en formato excel,  especificamente con extensión csv, xls, o xlsx.</h5></li>

  <li><h5>El único requisito mandatorio que deben tener estos archivos para cargar los contactos en esta página es que la primera columna contenga el número del contacto con código de área. Ejemplos de formatos válidos de número telefónico son: 4129999999 / 412.9999999 / 412.999.9999 / 412-9999999 / 412-999-9999 / 412.999-9999 / 412-999.9999 / (412)9999999 / (412)999-9999 / (412)999.9999 / (0412)9999999 / (0412)999-9999 / (0412)999.9999, donde 412 es un ejemplo para representar el código de área que puede ser (0412)(0414)(0424)(0416)(0426) y 9999999 es un ejemplo para representar un número de teléfono válido que siempre debe ser de 7 dígitos, inclusive si el primeo de esos 7 dígitos es el número cero.</h5></li>


  <li><h5>Aquellos contactos cargados masivamente y que no cumplan los requisitos mínimos para ser cargados en esta página se agregarán al archivo de errores del sistema que se puede descargar/abrir en cualquier momento, siempre y cuando exista el archivo de errores.</h5></li>
  <li><h5>
  Al final del listado de contatos y a partir de 10 contactos cargados, se va  ver un texto y dos enlaces con el objeto de poder descargar <i>toda</i> la lista de contactos en formato csv o excel, estos archivos de contactos van a contener: en la primera columna el número de teléfono del contacto con el código de área en formato númerico (sin el cero adelante) y la segunda columna va a contener el nombre del contacto si aplica.</h5></li>
  </ul>  
  <br>
</div>
<br>

4129999999 / 412.9999999 / 412.999.9999 / 412-9999999 / 412-999-9999 / 412.999-9999 / 412-999.9999 / (412)9999999 / (412)999-9999 / (412)999.9999 / (0412)9999999 / (0412)999-9999 / (0412)999.9999
